.comment-link {
  cursor: pointer;
}
.comment-link:hover {
  text-decoration: underline;
}
.username {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.username:hover {
  text-decoration: underline;
}
.comment-card {
  scroll-margin-top: 75px;
}
@media screen and (max-width: 991px) {
  .comment-card {
    scroll-margin-top: 150px;
  }
}
