.comment-link {
  cursor: pointer;
}
.comment-link:hover {
  text-decoration: underline;
}
.username {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.username:hover {
  text-decoration: underline;
}