.btn-upvote {
    --bs-btn-color: var(--bs-white);
    --bs-btn-hover-color: #04AF70;
    --bs-btn-active-color: #04AF70;
    --bs-btn-border-color: #04AF70;
}

.btn-downvote {
    --bs-btn-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-red);
    --bs-btn-active-color: var(--bs-red);
    --bs-btn-border-color: var(--bs-red);
}

.user-link {
    color: var(--bs-white);
    text-decoration: none;
}

.user-link:hover {
    color: var(--bs-white);
    text-decoration: underline;
}