.nav-pills .nav-link {
  color: var(--bs-light);
  border-radius: var(--bs-border-radius-lg);
}

.nav-pills .nav-link.active {
  color: var(--bs-warning);
  background-color: rgba(var(--bs-secondary-rgb), 0.25);
}

.nav-pills .nav-link:hover {
  background-color: rgba(var(--bs-secondary-rgb), 0.25);
}