/* .notificationItem:hover {
  background-color: #000000;
} */

.notificationItem:hover {
  background-color: darkgray !important;
}

.notification{
  display: flex;
}

.w-24 {
  width: 24px;
}

.h-24 {
  height: 24px;
}

.f-13 {
  font-size: 13px;
  padding-top: 2px;
}
